{{!--
This template is used for the index page.
It can be used also as the home page or the default page.
--}}

{{!-- This block preloads specific assets for the index page --}}
{{#contentFor "preload"}}
  <link rel="preload" href="{{asset "css/home.css"}}" as="style" />
  <link rel="preload" href="{{asset "css/listing.css"}}" as="style" />
  <link rel="preload" href="{{asset "js/home.js"}}" as="script" />
{{/contentFor}}

{{!-- This block loads specific styles for the index page --}}
{{#contentFor "styles"}}
  <link rel="stylesheet" type="text/css" href="{{asset "css/home.css"}}" media="screen" />
  <link rel="stylesheet" type="text/css" href="{{asset "css/listing.css"}}" media="screen" />
{{/contentFor}}

{{!-- The tag below means: insert everything in this file
into the {body} of the default.hbs template --}}
{{!< default}}

{{!-- Special header.hbs partial to generate the <header> tag --}}
{{> header background=@site.cover_image}}

<main class="main-wrap my-12">
  <div class="l-content">
    <div class="hidden md:block l-wrapper" data-aos="fade-up" data-aos-delay="300">
      <h1 class="text-2xl font-bold px-2">Destacados</h1>
      <div class="l-grid centered">
        {{#get "posts" include="authors,tags" filter="featured:true" limit="3" as |posts|}}
          {{#foreach posts}}
            {{#is "post"}}
              <div class="m-recommended-slider__item glide__slide">
            {{/is}}
            <article class="m-article-card {{#unless feature_image}}no-picture{{/unless}} {{post_class}}">
              <div class="m-article-card__picture">
                <a href="{{url}}" class="m-article-card__picture-link" aria-hidden="true" tabindex="-1"></a>
                {{#if feature_image}}
                  <img class="m-article-card__picture-background" src="{{img_url feature_image size="m"}}" loading="lazy" alt="">
                {{/if}}
                <a href="{{primary_author.url}}" class="m-article-card__author js-tooltip" aria-label="{{primary_author.name}}" data-tippy-content="{{t "Posted by"}} {{primary_author.name}} {{authors autolink="false" from="2" prefix=(t "Among with") separator=" , "}}">
                  {{#if primary_author.profile_image}}
                    <div style="background-image: url({{img_url primary_author.profile_image size="xs"}});"></div>
                  {{else}}
                    <div style="background-image: url({{asset "images/default-avatar-square-small.jpg"}});"></div>
                  {{/if}}
                </a>
                {{#if featured}}
                  <a href="{{url}}" class="m-article-card__featured js-tooltip" data-tippy-content="{{t "Featured"}}" aria-label="{{t "Featured"}}">
                    <span class="icon-star" aria-hidden="true"></span>
                  </a>
                {{/if}}
              </div>
              {{#if primary_tag}}
                <div class="m-article-card__info">
                  <a href="{{primary_tag.url}}" class="m-article-card__tag">{{primary_tag.name}}</a>
              {{else}}
                <div class="m-article-card__info no-tag">
              {{/if}}
                <a href="{{url}}" class="m-article-card__info-link" aria-label="{{title}}">
                  <div>
                    <h2 class="m-article-card__title js-article-card-title {{#unless feature_image}}js-article-card-title-no-image{{/unless}}" title="{{title}}">
                      {{title}}
                    </h2>
                  </div>
                  <div class="m-article-card__timestamp">
                    <span>{{date published_at timeago="true"}}</span>
                    <span>&bull;</span>
                    <span>{{reading_time minute=(t "1 min read") minutes=(t "% min read")}}</span>
                  </div>
                </a>
              </div>
            </article>
            {{#is "post"}}
              </div>
            {{/is}}
            {{else}}
              <header class="m-heading no-margin">
                <h3>{{t "No posts found"}}</h3>
                <p>
                  {{t "Apparently there are no posts at the moment, check again later."}}
                </p>
              </header>
          {{/foreach}}
        {{/get}}

      </div>
    </div>

    <div class="block md:hidden l-wrapper" data-aos="fade-up" data-aos-delay="300">
      <h1 class="text-2xl font-bold px-2">Destacado</h1>
      <div class="l-grid centered">
        {{#get "posts" include="authors,tags" filter="featured:true" limit="1" as |posts|}}
          {{#foreach posts}}
            {{#is "post"}}
              <div class="m-recommended-slider__item glide__slide">
            {{/is}}
            <article class="m-article-card {{#unless feature_image}}no-picture{{/unless}} {{post_class}}">
              <div class="m-article-card__picture">
                <a href="{{url}}" class="m-article-card__picture-link" aria-hidden="true" tabindex="-1"></a>
                {{#if feature_image}}
                  <img class="m-article-card__picture-background" src="{{img_url feature_image size="m"}}" loading="lazy" alt="">
                {{/if}}
                <a href="{{primary_author.url}}" class="m-article-card__author js-tooltip" aria-label="{{primary_author.name}}" data-tippy-content="{{t "Posted by"}} {{primary_author.name}} {{authors autolink="false" from="2" prefix=(t "Among with") separator=" , "}}">
                  {{#if primary_author.profile_image}}
                    <div style="background-image: url({{img_url primary_author.profile_image size="xs"}});"></div>
                  {{else}}
                    <div style="background-image: url({{asset "images/default-avatar-square-small.jpg"}});"></div>
                  {{/if}}
                </a>
                {{#if featured}}
                  <a href="{{url}}" class="m-article-card__featured js-tooltip" data-tippy-content="{{t "Featured"}}" aria-label="{{t "Featured"}}">
                    <span class="icon-star" aria-hidden="true"></span>
                  </a>
                {{/if}}
              </div>
              {{#if primary_tag}}
                <div class="m-article-card__info">
                  <a href="{{primary_tag.url}}" class="m-article-card__tag">{{primary_tag.name}}</a>
              {{else}}
                <div class="m-article-card__info no-tag">
              {{/if}}
                <a href="{{url}}" class="m-article-card__info-link" aria-label="{{title}}">
                  <div>
                    <h2 class="m-article-card__title js-article-card-title {{#unless feature_image}}js-article-card-title-no-image{{/unless}}" title="{{title}}">
                      {{title}}
                    </h2>
                  </div>
                  <div class="m-article-card__timestamp">
                    <span>{{date published_at timeago="true"}}</span>
                    <span>&bull;</span>
                    <span>{{reading_time minute=(t "1 min read") minutes=(t "% min read")}}</span>
                  </div>
                </a>
              </div>
            </article>
            {{#is "post"}}
              </div>
            {{/is}}
            {{else}}
              <header class="m-heading no-margin">
                <h3>{{t "No posts found"}}</h3>
                <p>
                  {{t "Apparently there are no posts at the moment, check again later."}}
                </p>
              </header>
          {{/foreach}}
        {{/get}}

      </div>
    </div>
  </div>

  {{#if @labs.members}}
    <section class="m-subscribe-section py-12">
      <div class="l-wrapper in-post">
        <div class="m-subscribe-section__content">
          <div class="m-subscribe-section__text">
            <h4 class="m-subscribe-section__title">Suscríbete a nuestro newsletter</h4>
            <p class="m-subscribe-section__description">
              Recibe un correo mensual con el compilado de lo mejor de software, startups y tecnología.
            </p>
          </div>
          <div id="home-bottom-subscribe-form" class="m-subscribe-section__form">
            {{> "newsletter-form"}}
          </div>
        </div>
      </div>
    </section>
  {{/if}}
  {{!-- {{#if @labs.members}}
    <form id="home-hero-subscribe-form" class="home-subscribe-form" data-members-form="subscribe">
      <input placeholder="Tu dirección de correo electrónico" class="m-input m-input--small in-home" data-members-email type="email" required="true"/>
      <button class="m-button m-button--responsive primary" type="submit"><span>Subscribirme</span></button>
    </form>
  {{/if}} --}}

  <div class="l-content">
    <div class="l-wrapper" data-aos="fade-up" data-aos-delay="300">
      <h1 class="text-2xl font-bold px-2">Últimos</h1>
      <div class="l-grid centered">
        {{#get "posts" include="authors,tags" limit="9" as |posts|}}
          {{#foreach posts}}
            {{#is "post"}}
              <div class="m-recommended-slider__item glide__slide">
            {{/is}}
            <article class="m-article-card {{#unless feature_image}}no-picture{{/unless}} {{post_class}}">
              <div class="m-article-card__picture">
                <a href="{{url}}" class="m-article-card__picture-link" aria-hidden="true" tabindex="-1"></a>
                {{#if feature_image}}
                  <img class="m-article-card__picture-background" src="{{img_url feature_image size="m"}}" loading="lazy" alt="">
                {{/if}}
                <a href="{{primary_author.url}}" class="m-article-card__author js-tooltip" aria-label="{{primary_author.name}}" data-tippy-content="{{t "Posted by"}} {{primary_author.name}} {{authors autolink="false" from="2" prefix=(t "Among with") separator=" , "}}">
                  {{#if primary_author.profile_image}}
                    <div style="background-image: url({{img_url primary_author.profile_image size="xs"}});"></div>
                  {{else}}
                    <div style="background-image: url({{asset "images/default-avatar-square-small.jpg"}});"></div>
                  {{/if}}
                </a>
                {{#if featured}}
                  <a href="{{url}}" class="m-article-card__featured js-tooltip" data-tippy-content="{{t "Featured"}}" aria-label="{{t "Featured"}}">
                    <span class="icon-star" aria-hidden="true"></span>
                  </a>
                {{/if}}
              </div>
              {{#if primary_tag}}
                <div class="m-article-card__info">
                  <a href="{{primary_tag.url}}" class="m-article-card__tag">{{primary_tag.name}}</a>
              {{else}}
                <div class="m-article-card__info no-tag">
              {{/if}}
                <a href="{{url}}" class="m-article-card__info-link" aria-label="{{title}}">
                  <div>
                    <h2 class="m-article-card__title js-article-card-title {{#unless feature_image}}js-article-card-title-no-image{{/unless}}" title="{{title}}">
                      {{title}}
                    </h2>
                  </div>
                  <div class="m-article-card__timestamp">
                    <span>{{date published_at timeago="true"}}</span>
                    <span>&bull;</span>
                    <span>{{reading_time minute=(t "1 min read") minutes=(t "% min read")}}</span>
                  </div>
                </a>
              </div>
            </article>
            {{#is "post"}}
              </div>
            {{/is}}
            {{else}}
              <header class="m-heading no-margin">
                <h3>{{t "No posts found"}}</h3>
                <p>
                  {{t "Apparently there are no posts at the moment, check again later."}}
                </p>
              </header>
          {{/foreach}}
        {{/get}}

      </div>
    </div>
  </div>

  <a href="/blog" class="m-articles-all l-wrapper">
    <span class="m-articles-all__text"> Ver todo </span>
    <span class="m-icon-button filled in-pagination-right" aria-label="Ver todo">
      <span class="icon-arrow-right"></span>
    </span>
  </a>


  {{#if @labs.members}}
    <section class="m-subscribe-section py-12">
      <div class="l-wrapper in-post">
        <div class="m-subscribe-section__content">
          <div class="m-subscribe-section__text">
            <h4 class="m-subscribe-section__title">Suscríbete a nuestro newsletter</h4>
            <p class="m-subscribe-section__description">
              Recibe un correo mensual con el compilado de lo mejor de software, startups y tecnología.
            </p>
          </div>
          <div id="home-bottom-subscribe-form" class="m-subscribe-section__form">
            {{> "newsletter-form"}}
          </div>
        </div>
      </div>
    </section>
  {{/if}}
</main>

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
  <script defer src="{{asset "js/home.js"}}"></script>
{{/contentFor}}
